div {
    text-align: center;
}

h1 {
    font-size: 80px;
    font-family: Impact;
    color: #fff;
}

button {
    width: 150px;
    height: 50px;
    background-color: #fff;
    color: black;
    font-family: impact;
    font-size: 20px;
}

button:hover{
    background-color: black;
    color: #fff;
}

body {
 background-image: url("image/cbg.jpg");
 background-color: #cccccc;
}

p{
	color: #fff;
	 font-size: 35px;
	 font-style: italic;
 
	
}

footer{
	margin-top: 200px;
	text-align: center;
}

#authorOutput{
	font-size: 25px;
	font-family: sans-serif;
}

#quoteOutput{
	font-family: cursive;
	font-size: 35px;
}

a{
	color: white;
}

a:hover{
	color: yellow;
}

img{
	height: 30px;
	width: 25px;
	margin-left: 1130px;
}



h5{
	
	color: white;
}

.footer{
	display: inline-flex;
	padding: 20px;
}

#ujjwal{
	margin-left: 130px;
}

h2{
	color: white;
	opacity: 40%;
	font-family: monospace;
}
